<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Points</th>
            <th scope="col">Rules</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Gender</td>
            <td>440</td>
            <td>Must be correct answer</td>
        </tr>
        <tr>
            <td scope="row">Birth Date</td>
            <td>220</td>
            <td>-20 points for every day off</td>
        </tr>
        <tr>
            <td scope="row">Birth Time</td>
            <td>120</td>
            <td>-5 points for every hour off</td>
        </tr>
        <tr>
            <td scope="row">Length</td>
            <td>50</td>
            <td>-5 points for every 1/4 inch off</td>
        </tr>
        <tr>
            <td scope="row">Weight</td>
            <td>50</td>
            <td>-5 points for every ounce off</td>
        </tr>
    </tbody>
    <tfoot class="tfoot-light">
        <tr>
            <td scope="row">Maximum Points</td>
            <td>880</td>
            <td></td>
        </tr>
    </tfoot>
</table>
