<p>Make your pregnancy exciting by adding some gambling.</p>

<p>Create a pool where friends and family can guess:

<ul>
    <li>Gender</li>
    <li>Birth Date</li>
    <li>Birth Time</li>
    <li>Length</li>
    <li>Weight</li>
</ul>
</p>
