<div class="jumbotron">
    <div class="container">
        <h1>Baby Pool</h1>
        <p>Make your pregnancy exciting by adding some gambling.</p>
        <p>Create a pool where friends and family can guess:</p>
        <ul>
            <li>Gender</li>
            <li>Birth Date</li>
            <li>Birth Time</li>
            <li>Length</li>
            <li>Weight</li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h2>Scoring</h2>
        <%= render 'score' %>
    </div>
</div>
