<nav class="navbar bottom navbar-light bg-light">
    <ul class="nav flex-column">
        <li class="nav-item">
            <%= link_to "Privacy Policy", privacy_policy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to "Scoring", score_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <a target="_blank" href="https://www.buymeacoffee.com/evanmcc" class="nav-link">Buy me a Beer</a>
        </li>
    </ul>
</nav>
